<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li class="experiencia">
                <h3>Experiencia 1</h3> - <h4>(years)</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, mollitia molestiae corporis beatae
                    doloribus est ea! Molestiae maxime vero consequatur qui iure omnis minus. Cupiditate distinctio
                    nostrum quisquam qui et?</p>
            </li>
            <li class="experiencia">
                <h3>Experiencia 2</h3> - <h4>(years)</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, mollitia molestiae corporis beatae
                    doloribus est ea! Molestiae maxime vero consequatur qui iure omnis minus. Cupiditate distinctio
                    nostrum quisquam qui et?</p>
            </li>
        </ul>

    </div>
</div>