<div class="row">
    <div class="container">
    <div>
        <a href=""><img src="../../../assets/APLogo.png" id="logo-ap"></a>
    </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class=" navbar-collapse"  id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto social">
        <a href=""><img src="../../../assets/github.png"></a>
        <a href=""><img src="../../../assets/linkedin.png"></a>
        <a href=""><img src="../../../assets/instagram.png" ></a>
        <a href=""><img src="../../../assets/facebook.png"></a>
        <a href=""><img src="../../../assets/twitter.png"></a>
        <button type="button" class="btn btn-outline-light">INGRESO</button>
    </div>
    </div>
    </div>

</div>