
div{
    background-color: #ab987a;
}
#logo-ap{
    width: 150px;
}
img{
    width: 30px;
    margin-left: 7px;
    margin-right: 7px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    border-width: medium;
}

@media (min-width: 576px){
    .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: end;
    }
}

/* para vista de celular*/

@media(max-width: 576px){
    .container{
        flex-direction: row;
    }

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 3px solid #ff533d;
    border-radius: 0.35rem;
    transition: box-shadow .15s ease-in-out;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
}