<div class="row">
    <div>
        <h2>Hard & Soft Skills</h2>
    </div>
    <div class="text-center col sm-4 col-md-4 col-xl-4">
        <circle-progress
  [percent]="90"
  [radius]="100"
  [title]="'HTML-CSS-JS'"
  [subtitle]="'90%'"
  [subtitleFontSize]="'20px'"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#ff533d'"
[innerStrokeColor]="'#ab987a'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col sm-4 col-md-4 col-xl-4">
<circle-progress
[percent]="75"
[radius]="100"
[title]="'INGLES'"
[subtitle]="'75%'"
[subtitleFontSize]="'20px'"
[showUnits]="false"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#ff533d'"
[innerStrokeColor]="'#ab987a'"
[animation]="true"
[animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col sm-4 col-md-4 col-xl-4">
<circle-progress
[percent]="90"
[radius]="100"
[title]="'REDES SOCIALES'"
[titleFontSize]="'18'"
[subtitle]="'90%'"
[subtitleFontSize]="'20px'"
[showUnits]="false"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#ff533d'"
[innerStrokeColor]="'#ab987a'"
[animation]="true"
[animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col sm-4 col-md-4 col-xl-4">
<circle-progress
[percent]="90"
[radius]="100"
[title]="'COMUNICACION'"
[titleFontSize]="'18'"
[subtitle]="'90%'"
[subtitleFontSize]="'20px'"
[showUnits]="false"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#ff533d'"
[innerStrokeColor]="'#ab987a'"
[animation]="true"
[animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col sm-4 col-md-4 col-xl-4">
<circle-progress
[percent]="100"
[radius]="100"
[title]="'RESPONSABILIDAD'"
[titleFontSize]="'16'"
[subtitle]="'100%'"
[subtitleFontSize]="'20px'"
[showUnits]="false"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#ff533d'"
[innerStrokeColor]="'#ab987a'"
[animation]="true"
[animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col sm-4 col-md-4 col-xl-4">
<circle-progress
[percent]="90"
[radius]="100"
[title]="'CREATIVIDAD'"
[subtitle]="'90%'"
[subtitleFontSize]="'20px'"
[showUnits]="false"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#ff533d'"
[innerStrokeColor]="'#ab987a'"
[animation]="true"
[animationDuration]="300"
></circle-progress>
</div>
</div>
