.row {
    padding: 20px;
    font-family: 'Hachi Maru Pop', cursive;
    background-color: #e5e0d7;
}

h3, h4{
    display: inline;
    font-size: 20px;
}

@media (min-width: 576px) {
    h1 {
        left: 5%;
        font-size: 30px;
    }
}

@media (max-width: 576px) {
    h1 {
        padding-top: 10px;
        font-size: 26px;
        text-align: center;
    }
}


@media (min-width: 576px) {
    .educacion {
        padding-top: 80px;
        margin-left: 10px;
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .educacion {
        padding-top: 50px;
        font-size: 15px;
    }
}
