<div class="row">
    <h2>Proyectos Realizados</h2>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-xl-7 parte1">
            <h3>Proyecto 1</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae debitis illo nam animi. Consequatur corrupti eligendi ad illo voluptates sit laboriosam laudantium unde! Nam consectetur doloremque magnam officiis aliquid rem.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-xl-3 offset-md-1 offset-xl-1 parte2">
            <img src="../../../assets/rehab.png" class="img-fluid img-proyecto">
        </div>
        <div class="col-sm-12 col-md-7 col-xl-7 parte1">
            <h3>Proyecto 2</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae debitis illo nam animi. Consequatur corrupti eligendi ad illo voluptates sit laboriosam laudantium unde! Nam consectetur doloremque magnam officiis aliquid rem.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-xl-3 offset-md-1 offset-xl-1 parte2">
            <img src="../../../assets/shines.png" class="img-fluid img-proyecto">
        </div>
    </div>
    
</div>