<div class="conteiner">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/perfil.png" class="img-fluid" id="fotoperfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Belen Albornoz</p>
            <p id="subtitulo">Full Stack Developer Jr.</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h2>Acerca de mi</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta magni fugiat, recusandae error voluptas aperiam laudantium laborum itaque, consequatur ut consequuntur quis provident optio beatae fuga architecto alias iste. Animi!</p>
            </span>
        </div>

    </div>
</div>